{% extends "base.html" %}
{% block content %}
<style>
body {
    background: #e3e9f7 !important;
}
.center-form {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-form {
    background: #fff;
    padding: 2.5rem;
    border-radius: 1.2rem;
    box-shadow: 0 2px 24px rgba(36,100,207,0.09);
    min-width: 350px;
}
</style>
<div class="center-form">
    <div class="card-form">
        <h2 class="mb-4 text-center">Login</h2>
        <form method="POST">
            <input name="username" class="form-control mb-3" placeholder="Username" autocomplete="off" required>
            <input name="password" class="form-control mb-4" placeholder="Password" type="password" required>
            <button class="btn btn-success w-100 mb-2" type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}

